#body1
{
    background-image: url("images_used/background_homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media(max-width:576px)
{
    #img_1
    {
        height: 100px;
        width: 100px;
    }
}
@media(min-width:576px) and (max-width:768px)
{
    #img_1
    {
         height: 190px;
         width: 220px;
    }
}

#show1
{
    background:linear-gradient(to right,rgb(0,0,0),grey)
}

@media(min-width:768px)
{
    .news-input
    {
        width:50%;
    }
}

#newsletter
{
    background : linear-gradient(to right , greenyellow , lightblue);
}

.country-section
{
    background: linear-gradient(to right, darkblue ,lightblue, white);
}
.head1
{
    color:rgb(245, 86, 65);
}

.p1
{
    font-weight: 500;
}

.btn-1
{
    background-color:rgb(65, 221, 104);
    font-family: 'Patrick Hand', cursive;
    border-radius: 20px;
}

.btn-1:active
{
    background-color: greenyellow;
}

#country-card-1
{
    background: linear-gradient(to bottom right , green , white, orange);
}

#country-card-common
{
    background: linear-gradient(to bottom right , lightblue, white);
}

.btn-3
{
    font-family: 'Patrick Hand', cursive;
}

#btn-2
{
    font-family: 'Patrick Hand', cursive;
    border-radius: 30px;
}

#btn-2:active
{
    background-color: green;
}

#more0
{
    color: blue;
}

.beach-card
{
    background : linear-gradient(to bottom ,skyblue,rgb(97, 97, 226) ,rgb(235, 235, 122));
    border-radius: 10px;
}

.haunted-card
{
    background: linear-gradient(to bottom , black ,darkviolet);
    border-color: black;
    border-radius: 10px;
}

.hillside-card
{
    background: linear-gradient(to bottom, white ,skyblue, lightgreen, green);
    border-color: black;
    border-radius: 10px;
}

.hillside-text
{
    color : black;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 20px;
}

.haunted-text
{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 20px;
}

.beach-text
{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 20px;
}

.btnColor
{
    background: linear-gradient(to bottom right , lightgreen , lightyellow ,lightpink);
    font-family:'Patrick Hand', cursive;
    border-radius: 15px;
}

#country-card-common:hover
{
    transform: scale(1.019);
}


#country-card-1:hover
{
    transform: scale(1.019);
}

.haunted-card:hover{
    transform: scale(1.020);
}

.beach-card:hover{
    transform: scale(1.020);
}

.hillside-card:hover{
    transform: scale(1.020);
}

.text-clr
{
    color:blanchedalmond;
}