#body1
{
    background-image: url("images_used/background_homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media(max-width:576px)
{
    #img_1
    {
        height: 100px;
        width: 100px;
    }
}
@media(min-width:576px) and (max-width:768px)
{
    #img_1
    {
         height: 190px;
         width: 220px;
    }
}

#show1
{
    background:linear-gradient(to right,rgb(0,0,0),grey)
}

@media(min-width:768px)
{
    .news-input
    {
        width:50%;
    }
}

#newsletter
{
    background : linear-gradient(to right , greenyellow , lightblue);
}