#myvideo
{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.text-01
{
   background: linear-gradient(to bottom right , #F6EA41,#F048C6 );
   font-size: 50px;
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

input
{
    width:20%;
    transition: ease-in-out  2s;
    border-radius: 30px;
    text-align: center;
    background: linear-gradient(to right, #4568DC,#B06AB3);
    border: none;
    color:#F6EA41;
}

::placeholder
{
    color: white;
}

input:focus
{
    width: 100%;
    border: 3px outset greenyellow;
}

#india
{
    background: linear-gradient(to bottom, orange, white , green);
    border: none;
    border-radius: 15px;
    transition: 500ms;
}
.india-title
{
    color:blue
}

#country-r-1
{
    background: linear-gradient(to bottom right,#69FF97,#00E4FF);
    border:none;
    border-radius: 15px;
    transition: 500ms;
}

#country-r-1:hover
{
    transform: scale(1.02);
}

#india:hover
{
    transform: scale(1.02);
}

#country-r-2
{
    background: linear-gradient(to bottom, #B993D6,#8CA6DB );
    border:none;
    border-radius: 15px;
    transition: 500ms;
}

#country-r-2:hover
{
    transform: scale(1.02);
}